{% extends "base.html" %}

{% block content %}
<h2>Add Session</h2>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.patient_id.label(class="form-control-label") }}
        {{ form.patient_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.session_id.label(class="form-control-label") }}
        {{ form.session_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.additional_information.label(class="form-control-label") }}
        {{ form.additional_information(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Add Session</button>
</form>
{% endblock %}
