{% extends "base.html" %}

{% block content %}
<h1>Edit Session</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="session_id">Session ID</label>
        {{ form.session_id(class="form-control") }}
    <div class="form-group">
        <label for="additional_information">Additional Information</label>
        <pre>{{ form.additional_information(class="form-control") | safe }}</pre>
    </div>
        <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
